@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@layer components {
    .bg-hero {
      background-image: url('./assets/header_img.png');
      background-size: cover;
      background-position: center;
      width: 100%;
    }
  }

  * {
    font-family: "Outfit", sans-serif;
  }